<div class="layout-wrapper">
    <menubar class="layout-topbar"></menubar>
    <div class="layout-site">
        <div class="layout-sidebar">
            <p-panelMenu [model]="PanelMenu"></p-panelMenu>
        </div>
        <div class="layout-content">
            <div class="layout-content-inner">
                <h1>{{Project.title}}</h1>
                <h2>{{Project.description}}</h2>
                <div class="layout-card-container">
                    <app-widget-router *ngFor="let item of Project.widgets" [widgetData]="item"></app-widget-router>
                </div>
            </div>
            <div class="layout-footer">
                Footer
            </div>
        </div>
    </div>
</div>
