<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="layout-wrapper">
  <menubar class="layout-topbar"></menubar>
  <div class="layout-site">
    <div class="layout-sidebar">
      <p-panelMenu [model]="PanelMenu"></p-panelMenu>
    </div>
    <div class="layout-content">
      <div class="layout-content-inner">
        <h1>ManagerMaximus - Projects</h1>
        <h2>Own projects</h2>
        <div class="ui-g layout-card-container">
          <div *ngFor="let item of Projects.own" class="ui-g-12 ui-md-6 ui-lg-4 ui-xl-3">
            <p-card header="{{item.title}}" subheader="{{item.created}}" styleClass="ui-card-shadow ui-own-card-ani" (click)="openProject(item)">
              <p-header>
                <img src="Card" [src]="item.headerimage" onerror="this.src='../assets/images/projectHeaderImage.jpg';">
              </p-header>
              <div class="ui-description">{{item.description}}</div>
              <p-footer class="align-right">
                <button pButton type="button" label="Edit" icon="pi pi-cog" style="margin-right: .25em" (click)="showDialog(item, $event)"></button>
                <button pButton type="button" label="Delete" icon="pi pi-times" class="ui-button-secondary" (click)="deleteProject(item, $event)"></button>
              </p-footer>
            </p-card>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-4 ui-xl-3">
            <p-card id="addProjectCard" header="New project" subheader="" styleClass="ui-card-shadow" (click)="showDialog({}, $event)">
              <p-header></p-header>
            </p-card>
          </div>
        </div>
        <h2 *ngIf="Projects.contributed && Projects.contributed.length>0">Contributed projects</h2>
        <div *ngIf="Projects.contributed && Projects.contributed.length>0" class="ui-g layout-card-container">
          <div *ngFor="let item of Projects.contributed" class="ui-g-12 ui-md-6 ui-lg-4 ui-xl-3">
            <p-card header="{{item.title}}" subheader="{{item.created}}" styleClass="ui-card-shadow ui-own-card-ani" (click)="openProject(item)">
              <p-header>
                <img src="Card" [src]="item.headerimage" onerror="this.src='../assets/images/projectHeaderImage.jpg';">
              </p-header>
              <div class="ui-description">{{item.description}}</div>
              <p-footer class="align-right">
                <button pButton type="button" label="Edit" icon="pi pi-cog" style="margin-right: .25em" (click)="showDialog(item, $event)"></button>
                <button pButton type="button" label="Delete" icon="pi pi-times" class="ui-button-secondary" (click)="deleteProject(item, $event)"></button>
              </p-footer>
            </p-card>
          </div>
        </div>
      </div>
      <div class="layout-footer">
        Footer
      </div>
    </div>
  </div>
</div>

<p-dialog header="Title" [(visible)]="display" [modal]="true">
  <app-pop-up-dialog id="popup" [projectData]="selectedProject"></app-pop-up-dialog>
</p-dialog>

<p-dialog header="Edit user" [(visible)]="showUserEdit" [modal]="true">
  <app-user-settings></app-user-settings>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
