<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="login-panel">
  <img class="mm-logo" src="../assets/images/mm.png">
  <h3 class="first">Login</h3>
  <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
      <div class="form-group">
          <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
              <input type="text" pInputText placeholder="Username" formControlName="username" class="form-control" />
            </div>
      </div>
      <div class="form-group">
          <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
              <input pPassword type="password" [feedback]=false placeholder="Password" formControlName="password" class="form-control" />
            </div>
      </div>
      <div class="form-group">
          <p-button label="Login"></p-button>
          <a [routerLink]="['/registration']" class="btn-link">Registration</a>
      </div>
  </form>
</div>
