<div class="registration-panel" id="reg-form">
  <h3 class="first">Registration</h3>
  <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
    <input type="text" size="25" pInputText placeholder="Username" required>
  </div>
  <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
    <input type="text" size="25" pInputText placeholder="Full name" required>
  </div>
  <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
    <input pPassword type="password" size="25" [feedback]=true placeholder="Password"/>
  </div>
  <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
    <input pPassword type="password" size="25" [feedback]=true placeholder="Re-Password"/>
  </div>
  <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><font size=1>Email</font></span>
    <input type="text" size="24" pInputText placeholder="E-mail" required/>
  </div>
  <p-button label="Registration" ></p-button>
</div>