.userlist {
  margin-top: 10px;
  margin-bottom: 10px;

  .user {
    display: flex;
    min-width: 300px;
    justify-content: center;
    align-items: center;
    margin-top:5px;

    .name {
      flex-grow: 1;
    }
  }
}
