<div class="widget-buttons">
  <p-button icon="pi pi-pencil" (click)="showWidgetEditor(widgetData, $event)"></p-button>
  <p-button icon="pi pi-trash"></p-button>
</div>
<div class="widget-content">
  <div [ngSwitch]="widgetData.type">
    <app-text-widget [widgetData]="widgetData" *ngSwitchCase="'textWidget'">textWidget</app-text-widget>
    <app-image-widget [widgetData]="widgetData" *ngSwitchCase="'imageWidget'">imageWidget</app-image-widget>
    <app-chart-widget [widgetData]="widgetData" *ngSwitchCase="'chartWidget'">chartWidget</app-chart-widget>
    <div *ngSwitchDefault>Error: Undefined widget type.</div>
  </div>
</div>

<p-dialog header="Title" [(visible)]="weVisible" [modal]="true">
  <app-widget-editor id="widget-editor" [widgetData]="selectedWidget"></app-widget-editor>
</p-dialog>
